.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 992px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

button, input, textarea { 
  outline: none; 
}
:focus {
    outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video {
  display: block; }

  .button-prev, .button-next {
    cursor: pointer;
  }



.wpcf7-checkbox label {
  position: relative;
  cursor: pointer;
  color: #767676;
  padding-left: 46px;
  display: block;
}

.wpcf7-checkbox input[type=checkbox] {
  position: relative;
  visibility: hidden;
  margin-right: 0;
  position: absolute;
}

.wpcf7-checkbox input[type=checkbox] + span:before {
  content: '';
  display: block;
  position: absolute;
  height: 27px;
  width: 27px;
  top: -4px;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wpcf7-checkbox input[type=checkbox] + span:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 6px;
  height: 13px;
  border: solid #161616;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  visibility: hidden;
}

.wpcf7-checkbox input[type=checkbox]:checked + span:before {
  /* background: #161616; */
  border: 1px solid #161616;
}

.wpcf7-checkbox input[type=checkbox]:checked + span:after {
  visibility: visible;
}

.wpcf7-checkbox .checkbox-text { position: relative; top: -7px }


.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    margin-left: 2px;
    cursor: pointer;
    display: inline-block;
    
}

.addReadMore .readMore span,
.addReadMore .readLess span {
  text-decoration: underline;
  color: #161616;;
  font-weight: bold;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}






  .da-modal-open-bg {
     background:#000000bd;
     bottom:0;
     left:0;
     opacity:0;
     position:fixed;
     right:0;
     padding:30px;
     top:0;
     z-index:-1;
     -webkit-transition:opacity .6s;
     transition:opacity .6s;
     z-index:99;
     display:none}
   .da-modal-open-bg.open{opacity:1;z-index:99999}
   .da-modal-popup{bottom:0;left:0;padding:1.875rem;position:fixed;right:0;text-align:center;top:-100%;z-index:-1;-webkit-transition-duration:.6s;transition-duration:.6s;-webkit-transition-property:opacity,transform,-webkit-transform;transition-property:opacity,transform,-webkit-transform;transform:translate(-50%,-100%);left:50%;max-width:600px;width:100%}
   .da-modal-popup.open{-webkit-transform:translateY(0);-moz-transform:translateY(0);top:0;-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);transform:translate(-50%,0%);z-index:999999}
   .da-modal-popup .da-modal-content{left:0;margin:0 auto;padding:0;position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
   .da-modal-open .da-modal-content{top:0;transition-duration:.6s;overflow: hidden;}
   .da-modal-open.open .da-modal-content{top:50%;transition-duration:.6s}
   .modal-inner{background:#fff;padding:20px;max-width:600px;margin:0 auto;width:100%;position:relative; color: #000;}
   .modal-content {
      padding: 20px;
   }
   button.closeModal{position:absolute;width:14px;height:14px;background:0 0;border:0;top:14px;padding:0;right:15px;opacity:.4;transition:.3s all;cursor:pointer}
   button.closeModal:hover{opacity:.7}
   button.closeModal svg{display:block;width: 14px;height: 14px;}
      button.closeModal svg path {
         fill: #000;
      }
   .modal-inner{max-height:calc(100vh - 210px);overflow:hidden}